body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d3d3d3;
    margin: 0px;
}

#content {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%, -50%);
}

#container {
    position: absolute;
    left: 25%;
    height: 100%;
    border-color: black;
    border-width: 3px;
    border-left-style: solid;
    padding-left: 10px;
    background-image: linear-gradient(90deg, #ffffff, #d3d3d3);
}
/*
Congratulations! You found the easter egg.
A good traveler has no fixed plan, and is 
not intent on arriving.
                                - Lao Tzu
*/